<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.master.cs" Inherits="TimeTracker2.Default1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>TimeTracker</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="CPHMaster" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
